.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #e8e9ec;
    align-items: center;
}


.logo {
    font-size: 24px;
    font-weight: bold;
}


.search-bar {
    position: relative;
    width: 800px;
}


.search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #15c557;
    border-radius: 5px;
}


.suggestions-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
}


.suggestion-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.suggestion-item:hover {
    background-color: #f1f1f1;
}


.suggestion-item img {
    width: 80px;
    height: 50px;
    margin-right: 20px;
    border-radius: 5px;
}


.suggestion-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.place {
    color: #6c757d;
    font-size: 12px;
    text-align: right;
}


.auth-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.sign-up {
    background-color: green;
    color: white;
}


.log-in {
    background-color: white;
    color: green;
    border: 1px solid green;
}

.place {
    display: flex;
    align-items: center;
    color: #6c757d;
    font-size: 13px;
    text-align: right;
}


.location-icon {
    margin-right: 5px;
    color: #c00b0b;
}












