/* Main container */
.payment-main-container {
    max-width: 1500px;
    margin: 0 auto;
    /*padding: 40px 40px;*/
    /*background-color: #fff;*/
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.checkout-container {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

/* Left section for Order Summary */
.order-summary {
    flex: 1;
    padding: 20px;
}

h1, h3 {
    margin: 10px 0;
}

.item-list {
    margin-bottom: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.item-heading {
    margin-bottom: 30px;
    font-size: 20px;
}

.product-image {
    width: 100px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.price {
    margin-left: 25px;
}

.summary-details div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.total {
    padding-top: 50px;
    font-weight: bold;
}

/* Right section for Payment Details */
.payment-details {
    flex: 1;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.payment-details h3 {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.payment-inputs {
    display: flex;
    gap: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox input {
    margin-right: 10px;
}

.submit-button {
    width: 100%;
    padding: 15px;
    background-color: #4a148c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #6a1b9a;
}

.submit-button:active {
    background-color: #8e24aa;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .checkout-container {
        flex-direction: column;
    }
}



